@page "/Error/404"
@model DoDoHack.Pages._404Model
@{
    ViewData["Title"] = "404";
}

<link rel="stylesheet" href="~/css/404.css" />

<div id="error">
    <img src="~/img/design/404.jpg" width="400"/>
    <h1>404</h1>
    <h2>Страница не найдена</h2>
</div>