@page
@model DoDoHack.Pages.DeniedModel
@{
    ViewData["Title"] = "Доступ запрещён";
}

<link rel="stylesheet" href="~/css/denied.css" />

<div id="denied">
    <img src="~/img/design/denied.jpg" width="400" />
    <h2>Ало, да, да.</h2>
    <h3>Да у вас нет доступа к этой странице.</h3>
</div>
