@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Сервисный сайт "Додо Пиццы"</h1>
    <img src="~/img/design/dodo-logo.png" width="350" />
</div>
