@page
@model DoDoHack.Pages.LogoutModel
@{ 
    ViewData["Title"] = "Выход";
}

<div style="text-align: center">
    <h1>Чувак ты думал что-то здесь будет?</h1>
    <h2>О нет... Закрывай, закрывай сайт и иди развози еду</h2>
    <h3>Я крутой, а ты лоханулся</h3>
</div>
