#login {
    display: flex;
    flex-direction : column;
    align-items : center;
    margin: 10px auto 10px;
    width: 300px;
    padding: 10px;
}

#login .validation{
    text-align : center;
}

#login form{
    display : flex;
    flex-direction : column;
}

#login form input{
    margin-top : 5px;
    border-radius : 5px;
    border : 2px solid orange;
}

#to-reg{
    margin-top : 10px;
}

@media only screen and (max-device-width: 480px) {

}
